body{

    background-image:url("bg.gif");
    background-attachment:fixed;
    background-size:100% 100%;
    background-repeat:no-repeat;
}

.clock-container{

    position:absolute;
    left:40%;
    top:40%;
    /* Margin Centering margin: 0 auto;*/
    width:200px;
    padding:20px;
    border: 10px solid transparent;
    border-image: url("border.gif") fill 30;

    

}

span{

    font-size:30px;
    font-family:san-serif;
    
}

#wt{

    color:rgb(128,45,106);
}